@charset "UTF-8";

* {
	border: none;
	outline: none;
	margin: 0 auto;
	padding: 0;
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
	font-weight: inherit;
	border: none;
	outline: none;
}

ul, ol, div, span, input, textarea, select, li, form, label, html, body { box-sizing: border-box; }

ul, ol { list-style: none; }

input[type=image], input[type=submit], a, select { cursor: pointer; }

input, textarea { background-color: transparent; }

label, img { display: block; margin: 0 auto; }

a {
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

b { font-weight: bold; }

i { font-style: italic; }

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f2f2f2;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #555;
}

.fa {
	font-family: FontAwesome;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.center {
	margin: 0 auto;
	max-width: 800px;
}


/* - - - - - - - - - - - - - - - - Sign in - - - - - - - - - - - - - - - - */

body#login {
    background: url('imgs/city-bg.jpg') center no-repeat fixed;
    background-size: cover;
}

div#box {
	position: absolute;
	top: 50%;
	left: 0; right: 0;
	width: 320px;
	padding: 15px 15px 70px 15px;
	margin-top: 20px;
	transform: translateY(-50%);
	background-color: white;
	text-align: left;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	z-index: 10;
}

div#box > h2 {
	position: absolute;
	left: 0; right: 0;
	top: -95px;
	font-size: 96px;
	font-weight: 300;
	line-height: 100px;
	text-align: center;
	color: #485775;
	z-index: 2;
}

div#box > h2 > em { color: #293243; }

div#box > form > div.field > label {
	padding-left: 12px;
	margin-bottom: 3px;
	font-size: 16px;
	line-height: 20px;
	color: #bbb;
}
div#box > form > div.field.fail > label { color: #d0392c; }

div#box > form > div.field > input,
div#box > form > div.field > select {
	width: 100%;
	height: 46px;
	padding: 8px 12px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
	color: #aaa;
	background: #eee;
}
div#box > form > div.field > input:hover { background-color: #e6e6e6; color: #777; }
div#box > form > div.field > input:focus { background-color: #ddd; color: #555; }
div#box > form > div.field.fail > input { color: #d0392c; outline: 1px solid #d0392c; }

div#box > form div#feedback {
	display: none;
	padding: 8px 14px;
	margin: 5px 0 10px 0;
	font-size: 16px;
	line-height: 22px;
	background-color: #485775;
	color: white;
}

div#box > form input#submit {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0; right: 0;
	width: 100%;
	height: 60px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: #697ea8;
}
div#box > form input#submit:not([disabled]):focus,
div#box > form input#submit:not([disabled]):hover { opacity: 0.85; }


/* - - - - - - - - - - - - - - - - Responder - - - - - - - - - - - - - - - - */

div#responder {
	text-align: left;
}

/* - - - - - - - - Top - - - - - - - - */

div#responder > div#top {
	position: relative;
	padding: 70px 25px 20px 25px;
	color: white;
	background: #485775;
}

div#responder > div#top > h1 {
	font-size: 48px;
	font-weight: 300;
	line-height: 54px;
}

div#responder > div#top > span#reset {
	position: absolute;
	top: 15px; right: 15px;
	padding: 3px 10px;
	font-size: 12px;
	line-height: 18px;
	cursor: pointer;
}
div#responder > div#top > span#reset:hover,
div#responder > div#top > span#reset:focus {
	opacity: 0.7;
}

/* - - - - - - - - Content - - - - - - - - */

div#responder > div#content {
	padding: 20px 25px;
	margin-top: 30px;
	background: white;
}

/* - - - - - - - - Content # Intro - - - - - - - - */

div#responder > div#content > div#intro > h2 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #222;
}

div#responder > div#content > div#intro > p {
	font-size: 16px;
	line-height: 22px;
}

div#responder > div#content > div#intro > div.info {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	margin-top: 20px;
}

div#responder > div#content > div#intro > div.info > span {
	display: inline-block;
	flex: 0 0 auto;
	font-size: 16px;
	line-height: 22px;
}
div#responder > div#content > div#intro > div.info > span.author { margin-left: 0; }
div#responder > div#content > div#intro > div.info > span.date { margin-right: 0; }

div#responder > div#content > div#intro > button#start {
	display: block;
	padding: 12px 35px;
	margin: 20px auto 0 auto;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: white;
	background: #485775;
	cursor: pointer;
}
div#responder > div#content > div#intro > button#start:hover,
div#responder > div#content > div#intro > button#start:focus { background: #293243; }

div#responder > div#content > div#intro > button#start > span { margin-left: 8px; }

/* - - - - - - - - Content # Question - - - - - - - - */

div#responder > div#content > form#question {
	text-align: center;
}

div#responder > div#content > form#question > h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	color: #222;
}

div#responder > div#content > form#question > p {
	margin-top: 3px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
}

div#responder > div#content > form#question > #field {
	margin-top: 20px;
}

div#responder > div#content > form#question > #field.options {
	width: 100%;
	max-width: 500px;
}

div#responder > div#content > form#question > #field.options > li {
	width: 100%;
	padding: 8px 12px;
	font-size: 16px;
	line-height: 22px;
	color: #333;
	background: #e6e6e6;
	cursor: pointer;
}
div#responder > div#content > form#question > #field.options > li + li { margin-top: 5px; }
div#responder > div#content > form#question > #field.options > li:hover,
div#responder > div#content > form#question > #field.options > li:focus { background: #ccc; }
div#responder > div#content > form#question > #field.options > li.selected { background: #485775; color: white; }

div#responder > div#content > form#question > #field.options > li > input { display: none; }

div#responder > div#content > form#question > #field.string {
	width: 100%;
	max-width: 500px;
}

div#responder > div#content > form#question > #field.string > input {
	width: 100%;
	padding: 11px 15px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	background: #e6e6e6;
}

div#responder > div#content > form#question > div.bottom {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	margin-top: 20px;
}

div#responder > div#content > form#question > div.bottom > div#certeza {
	width: 120px;
	margin-left: 0;
}

div#responder > div#content > form#question > div.bottom > div#certeza > label {
	display: block;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 18px;
	color: #555;
}

div#responder > div#content > form#question > div.bottom > div#certeza > input {
	width: 100%;
	padding: 12px 15px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	background: #e6e6e6;
}

div#responder > div#content > form#question > div.bottom > button#next {
	display: block;
	width: 200px;
	padding: 12px 0;
	margin: 22px 0 0 auto;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background: #485775;
	cursor: pointer;
}
div#responder > div#content > form#question > div.bottom > button#next:hover,
div#responder > div#content > form#question > div.bottom > button#next:focus { background: #293243; }

div#responder > div#content > form#question > div.bottom > button#next > span { margin-left: 8px; }

/* - - - - - - - - Top - - - - - - - - */

div#responder > div#footer {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 20px 10px 40px 10px;
}

div#responder > div#footer > span {
	display: inline-block;
	flex: 0 0 auto;
	font-size: 14px;
	line-height: 20px;
}
div#responder > div#footer > span.desc { margin-left: 0; }
div#responder > div#footer > span.authors { margin-right: 0; }