# Configuration

Options +FollowSymLinks -MultiViews
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
RewriteEngine On

# Errors

ErrorDocument 404 /404.php
RewriteRule ^404/?$ 404.php

# Rewrite rules

RewriteRule ^/?$ index.php
RewriteRule ^(log|sign)-?in/?$ login.php
RewriteRule ^(home|main|dashboard|start|root|menu)/?$ index.php
RewriteRule ^(novo|criar)/?$ novo.php

RewriteRule ^sistema/([0-9]+)(/[^/]+)?/?$ sistema.php?id=$1

RewriteRule ^responder/([0-9]+)(/[^/]+)?/?$ responder.php?id=$1